---
layout: default
---

<!-- Navigation bar -->
<div class="navbar">
	<div class="header-image">
		<img src="{{site.baseurl}}/img/logo-top-small.png" alt="Hypersonix Letterhead">
	</div>
	<ul>
		<li class="nav-item"><a href="{{site.baseurl}}">Home</a></li>
		<li class="nav-item"><a href="{{site.baseurl}}/about.html">Inside Story</a></li>
		<li class="nav-item"><a href="{{site.baseurl}}/post_index.html">Articles</a></li>
		<li class="nav-item"><a href="{{site.baseurl}}/contact.html">Contact</a></li>
	</ul>
</div>

<!-- Main page contents -->
<div class="content-wrapper">
	{{ content }}
</div>