---
layout: default
---

<!-- Navigation bar -->
<div class="navbar">
	<div class="header-image">
		<img src="{{site.baseurl}}/img/logo-top-small.png" alt="Hypersonix Letterhead">
	</div>
	<ul>
		<li class="nav-item"><a href="{{site.baseurl}}/">Home</a></li>
		<li class="nav-item"><a href="{{site.baseurl}}/about.html">Inside Story</a></li>
		<li class="nav-item"><a href="{{site.baseurl}}/post_index.html">Articles</a></li>
		<li class="nav-item"><a href="{{site.baseurl}}/contact.html">Contact</a></li>
	</ul>
</div>

<!-- Main page contents -->
<div class="content-wrapper">
	{{ content }}
</div>

<!-- Footer -->
<div class="footer">
	<div class="content-wrapper">
		<p>Website built by the Hypersonix web team.</p>
		<!-- 
			Side note: the hypersonix web team is basically two blokes. Jay and Toby. Handwriting code, for days. I hope you've enjoyed it!
			If you have a complaint, send it directly to whoever is reading the emails on the contact form. Make sure to tell them Jay sent ya, so they know who to yell at.
			Toby doesn't know I'm writing these comments. I'm not going to tell him.

			Not that I'll remember by tomorrow either. I might be a little drunk.
		 -->
		<p>
			<small>&copy;{{ site.time | date: '%Y' }} All rights reserved. Last build: {{ site.time | date: "%Y-%m-%d" }} </small>
		</p>
	</div>
</div>